<h1>Gifts Given</h1>

<div class = "form">
  <form action="/given" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <div>
      <input class="textbox" type="text" id = "gift-input" name="gift" placeholder="Gift Item" />
      <input class="textbox" type="text" id = "to-input" name="to" placeholder="Gift For"/>
      <input class="textbox" type="text" id = "occasion-input" name="occasion" placeholder="Occasion"/>
      <input class="textbox" type="text" id = "year-input" name="year" placeholder="Year"/>
      <input class="submit" type="submit" />
    </div>
  </form>
</div>

<div class="gift_table">
  <table>
    <tr>
      <th>Gift Item</th>
      <th>Gift To</th>
      <th>Occasion</th>
      <th>Year</th>
      <th></th>
      <th></th>
    </tr>

  <% @given.each do |item| %>
    <tr>
      <td><%= item.gift %></td>
      <td><%= item.to %></td>
      <td><%= item.occasion %></td>
      <td><%= item.year %></td>
      <td><%= link_to "Edit Entry", edit_given_path(item), method: :get %></td>
      <td><%= link_to "Delete Entry", delete_given_path(item), method: :get, data: { confirm: "Delete gift entry?" } %></td>
    </tr>
  <% end %>
  </table>
</div>

<div class="links2">
  <a><%= link_to "Gifts Received", received_path %></a>
  <a><%= link_to "Gifts Home", home_path %></a>
</div>
