<h1>Gift App</h1>

<% @given.each do |item| %>
  <span class= "gift"><%= item.gift %></span>
  <span class = "to"><%= item.to %></span>
  <span class = "occasion"><%= item.occasion %></span>
  <span class = "year"><%= item.year %></span>
<% end %>

<br>
<%= link_to "Gifts Received", received_path %>
<%= link_to "Gifts Given", given_path %>
